// Breakpoints
$brXs: 576px; // smaller than
$brSm: 576px; // greater than
$brMd: 768px; // greater than
$brLg: 992px; // greater than
$brXl: 1200px; // greater than
$brXxl: 1400px; // greater than
$br3xl: 1600px; // greater than

// Colors
$blue: #004253;
$blueDark: #023846;
$orange: #e27a00;
$red: #dc145a;

// Divider
$dividerColor: black;
$dividerBackground: #818078;

// Other
$borderRadius: 8px;
