@import "./_variables";

html,
body {
  max-width: 100% !important;
  background-color: #0a4a59 !important;
}
::-webkit-scrollbar {
  background-color: #0a4a59;
}
.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.full {
    .sidebar {
      margin-left: -15%;
    }

    .main {
      width: 100%;
    }
  }
}

.sidebar {
  transition: 100ms linear;
  width: 15%;
  min-height: 100%;
  background: $blueDark;

  .logo {
    width: 80%;
    height: auto;
    margin: 10% 10%;
  }

  nav {
    ul {
      padding-left: 0 !important;
      list-style: none;
    }

    li {
      border-left: 4px solid $blueDark;
      &.active,
      &:hover {
        cursor: pointer;
        border-left-color: $orange;
        background-color: $blue;
        color: $orange;

        a {
          color: $orange;
        }
      }
    }

    a {
      display: flex;
      width: 100%;
      padding: 0.75rem 1rem;
      text-decoration: none;
    }
  }
}

.main {
  transition: 100ms linear;
  width: calc(100% - 15%);
  min-height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  background-color: $blueDark;
}

.page-content {
  margin: 1rem 2rem 0;

  .page-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: $brXs) {
  .wrapper {
    transition: transform 100ms linear;
    flex-wrap: nowrap;
    &.full {
      position: fixed;
      transform: translateX(80%);

      .sidebar {
        margin-left: -80%;
      }
    }
  }

  .sidebar {
    width: 80%;
    margin-left: -80%;
  }

  .main {
    width: 100%;
  }

  .navbar {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
  }

  .page-content {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
  }
}
