.navbar {
  padding: 0.5rem 2.5rem;
  background-color: #004253;
}

.navbar.scrolled {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.15);
  background-color: rgba(2, 56, 70, 0.95);
}

.navbar.scrolled .navbar-brand img {
  height: 4rem;
}

.navbar .navbar-brand img {
  -webkit-transition: 200ms;
  transition: 200ms;
  height: 6rem;
}

.navbar .navbar-nav {
  margin-left: auto;
}

.navbar .navbar-nav .nav-item:not(:last-child) {
  -webkit-transition: 150ms;
  transition: 150ms;
  margin-right: 1rem;
  padding: 0 1rem;
}

.navbar .navbar-nav .nav-item:not(:last-child):hover, .navbar .navbar-nav .nav-item:not(:last-child):focus {
  background-color: #e27a00;
}

.navbar .navbar-toggler {
  -webkit-transition: 200ms;
  transition: 200ms;
  padding: 0.4rem 0.5rem;
  border-radius: 0;
}

.navbar .navbar-toggler:hover, .navbar .navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-color: #e27a00;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  width: 30px;
  height: 30px;
  background-image: url(../img/menu_icon.svg);
}

@media (max-width: 576px) {
  .navbar {
    padding: 0.5rem;
  }
  .navbar.scrolled .navbar-brand img {
    height: 50px;
  }
  .navbar .navbar-brand img {
    height: 60px;
  }
  .navbar .navbar-nav .nav-item,
  .navbar .navbar-nav .btn-group {
    margin-right: 0 !important;
    margin-top: 0.5rem;
  }
  .navbar .navbar-nav .btn-group {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    margin-top: 0.5rem;
  }
  .navbar .navbar-nav .btn-group #profile-dropdown,
  .navbar .navbar-nav .btn-group .dropdown-menu {
    min-width: 100%;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Hind Madurai", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  background-color: #004253;
  color: white;
}

html ::-moz-selection,
body ::-moz-selection {
  background: #e27a00;
  color: white;
}

html ::selection,
body ::selection {
  background: #e27a00;
  color: white;
}

.wrapper {
  width: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0 !important;
}

a {
  -webkit-transition: 200ms;
  transition: 200ms;
  color: white;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

a:hover, a:focus {
  color: #e27a00;
}

.font-weight-bold {
  font-weight: bold;
}

.bg-blue {
  background-color: #004253;
}

.bg-darkblue {
  background-color: #023846;
}

.btn {
  -webkit-transition: 200ms;
  transition: 200ms;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.btn-orange {
  border: 2px solid #e27a00;
  background-color: #e27a00;
  color: white;
}

.btn.btn-outline-orange {
  border: 2px solid #e27a00;
  color: #e27a00 !important;
}

.btn.btn-outline-orange:hover {
  background-color: #e27a00;
  color: white !important;
}

.btn.btn-outline-white {
  border: 2px solid white;
  color: white !important;
}

.btn.btn-outline-white:hover {
  border-color: #e27a00;
  background-color: #e27a00;
  color: white !important;
}

.btn.btn-outline-red {
  border: 2px solid #dc145a;
  color: #dc145a !important;
}

.btn.btn-outline-red:hover {
  border-color: #dc145a;
  background-color: #dc145a;
  color: white !important;
}

#create-btn {
  margin-right: 1.5rem;
}

.badge {
  padding: 0.45rem 0.75rem;
}

.badge.bg-orange {
  background-color: #e27a00;
}

.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #004253;
  border: 2px solid #e27a00;
  border-radius: 0px;
}

.dropdown-menu button,
.dropdown-menu a {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
  color: #e27a00;
}

.dropdown-menu button:hover, .dropdown-menu button:focus,
.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #e27a00;
  color: white;
}

.form-label {
  margin-bottom: 0;
  font-size: 90%;
  color: white;
}

.form-control.is-invalid {
  border-color: #dc145a !important;
  color: #dc145a !important;
}

.form-control {
  resize: none;
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0;
  color: white;
}

.form-control:hover, .form-control:focus {
  background-color: transparent !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #e27a00;
  color: #e27a00;
}

.form-control::-webkit-input-placeholder {
  color: inherit !important;
}

.form-control:-ms-input-placeholder {
  color: inherit !important;
}

.form-control::-ms-input-placeholder {
  color: inherit !important;
}

.form-control::placeholder {
  color: inherit !important;
}

.input-group .form-control {
  -webkit-transition: 200ms;
  transition: 200ms;
  border-right-width: 0px;
  background-color: transparent !important;
}

.input-group .form-control:hover + .btn,
.input-group .form-control:focus + .btn {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #e27a00;
  color: #e27a00;
}

.input-group .btn {
  color: white;
  border: 2px solid white;
  border-left-width: 2px;
  border-radius: 0px;
}

.input-group .btn:hover, .input-group .btn:focus {
  background-color: #e27a00;
  border-color: orange;
  color: white !important;
}

.input-group .btn:disabled {
  opacity: 1;
}

.form-check .form-check-input {
  width: 1.15rem;
  height: 1.15rem;
  border-radius: 0 !important;
  border: 2px solid white;
  background-color: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-check .form-check-input:hover {
  cursor: pointer;
}

.form-check .form-check-input:checked {
  background-color: #e27a00;
  border-color: #e27a00;
}

.form-check .form-check-label {
  color: white;
}

.form-check .form-check-label a {
  color: #e27a00;
}

.footer {
  background-color: #004253;
}

.footer a {
  text-decoration: none;
}

.footer .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 2rem;
}

.footer .grid-container > div {
  color: white;
}

.footer .grid-container > div i {
  font-size: 1.8rem;
  color: #e27a00;
}

.footer .grid-container .logo-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

.footer .bottom {
  background-color: #023846;
}

.footer .bottom a:first-child {
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  .footer .grid-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  .footer .grid-container .logo-container {
    display: none;
  }
}

@media (max-width: 576px) {
  .footer .grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }
  .footer .grid-container .logo-container {
    display: unset;
    grid-row: unset;
  }
  .footer .grid-container .logo-container img {
    width: 50%;
    margin-left: calc(50% / 2);
  }
  .footer .grid-container i {
    font-size: 1.6rem !important;
  }
}

hr.divider {
  position: relative;
  text-align: center;
  line-height: 1em;
  height: 1.5em;
  margin: 1rem 0;
  background-color: unset;
  color: black;
  opacity: 0.5;
  border: 0;
  outline: 0;
}

hr.divider:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #818078;
}

hr.divider:after {
  content: attr(data-text);
  position: relative;
  display: inline-block;
  padding: 0 0.5em;
  line-height: 1.5em;
  background-color: white;
  color: #818078;
}

.search-container {
  background-color: #023846;
}

.filter-container {
  background-color: #023846;
  color: white;
}

.filter-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-decoration: none;
}

.filter-container a.active {
  color: #e27a00;
}

.filter-container a span {
  margin-left: 0.3rem;
}

#sidebar-column {
  padding-left: 0;
}

.offer-card {
  -webkit-transition: 200ms;
  transition: 200ms;
  background-color: #023846;
  border-radius: 0;
  border: 4px solid #004253;
  color: white;
}

.offer-card:hover {
  border-color: #e27a00;
}

.offer-card .price {
  font-weight: bold;
}

.offer-card a {
  text-decoration: none;
}

.offer-card .text-muted {
  -webkit-transition: 100ms;
  transition: 100ms;
  color: rgba(255, 255, 255, 0.85) !important;
}

.offer-card .text-muted:hover {
  color: white !important;
}

@media (max-width: 576px) {
  .search-container .input-group {
    min-width: 100%;
    margin-bottom: 1rem;
  }
  .search-container #create-btn {
    width: 100%;
    margin-right: 0;
  }
  .search-container .btn-group {
    width: 100%;
    margin-top: 1rem;
  }
  #sidebar-column {
    margin-bottom: 1rem;
    padding-right: 0;
  }
  .offer-card .col-md-3 .card-body {
    padding-top: 0;
  }
}

.profile-container {
  background-color: #023846;
}

.profile-container .form-control {
  padding-left: 0.75rem;
}

.profile-container .form-control:-moz-read-only {
  padding-left: 0;
  background-color: transparent;
  border-color: transparent;
}

.profile-container .form-control:read-only {
  padding-left: 0;
  background-color: transparent;
  border-color: transparent;
}

.profile-container .form-control:-moz-read-only:hover {
  color: white;
}

.profile-container .form-control:read-only:hover {
  color: white;
}
/*# sourceMappingURL=master.css.map */