@import "./_variables";

body#sign-in,
body#sign-up {
  background-color: $blue;
  color: white;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-container {
    width: 25%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    background-color: $blueDark;

    img {
      width: 75%;
      margin-left: calc(25% / 2);
      margin-bottom: 1rem;
    }

    .form-control {
      transition: 200ms;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 0;
      color: white;
      &:hover,
      &:focus {
        box-shadow: none;
        border-color: $orange;
        color: $orange;
      }
    }

    .input-group {
      .form-control {
        transition: 200ms;
        border-right-width: 0px;
        background-color: transparent !important;
        &:hover + .btn,
        &:focus + .btn {
          box-shadow: none;
          border-color: $orange;
          color: $orange;
        }
      }
      .btn {
        color: white;
        border: 2px solid white;
        border-left-width: 2px;
        border-radius: 0px;
        &:hover,
        &:focus {
          background-color: $orange;
          border-color: orange;
        }
      }
    }

    .redirect-btn {
      border-width: 2px;
    }

    .submit-btn {
      transition: 200ms;
      width: 50%;
      margin: 0 auto;
      border: 2px solid white;
      border-radius: 0;
      color: white;
      &:hover,
      &:focus {
        background-color: $orange;
        border-color: $orange;
      }
    }

    // Divier
    hr.divider {
      color: white;
      opacity: 1;
      &:before {
        background-color: white;
      }
      &:after {
        background-color: $blueDark;
        color: white;
      }
    }
  }
}

@media (max-width: $br3xl) {
  body {
    &#sign-in {
      .form-container {
        width: 30%;
      }
    }
    &#sign-up {
      .form-container {
        width: 40%;
      }
    }
  }
}

@media (max-width: $brXs) {
  .form-container {
    width: calc(100% - 1rem) !important;
  }
}
